# MONGODB variables
MONGODB_DATA_PATH=/data/db
MONGODB_PORT=27017
MONGODB_DB=disinfox
MONGODB_USERNAME=changeme1
MONGODB_PASSWORD=changeme2
MONGODB_HOST=localhost

# Backend variables
BACKEND_EXTERNAL_PORT=8888
# API_KEY_READONLY=changeme # if the public of the readonly version to be accessible

# Frontend variables
FRONTEND_EXTERNAL_PORT=80

# Public API variables
PUBLIC_API_EXTERNAL_PORT=8080





