# MONGODB variables
MONGODB_DATA_PATH=/data/db
MONGODB_PORT=27017
MONGODB_DB=disinfox
MONGODB_USERNAME=changeme1
MONGODB_PASSWORD=changeme2
MONGODB_HOST=localhost
MONGODB_CONTAINER_NAME=mongodb

# Backend variables
BACKEND_CONTAINER_NAME=backend
BACKEND_FLASK_PORT=5000

# Frontend variables
FRONTEND_CONTAINER_NAME=frontend
FRONTEND_FLASK_PORT=5000





