{% extends "base.html" %}

{% block content %}
    <h1>About</h1>
    <p>
        Disinfo<b>X</b> is a Theat Intelligence Exchange Platform specialized in disinformation campaigns and fake news.
        It is a platform that allows to spead intelligence about disinformation campaigns and fake news in real-time to allow organizations with CTI capabilities to act on it.
        The platform is designed to be user-friendly for non-technical users like journalists, fact-checkers, and researchers to upload their findings and share it with the community.
        Additionally, the platform is designed to be STIX-friendly for technical users like analysts, threat intelligence analysts, and data scientists to use the API to access the data and integrate it into their CTI platforms.
    </p>

    <h2>Features</h2>
    <ul>
        <li>Upload disinformation campaigns and fake news</li>
        <li>Share intelligence with the community</li>
        <li>Access the data via API</li>
        <li>Integrate the data into your CTI platform</li>
    </ul>

{% endblock %}