{% extends "base.html" %}

{% block head %}
<style>
    /*****************https://codepen.io/denilsonsa/pen/oNZWRJ***********************/
    /* Styling rules, such as font and colors */
    .date-as-calendar {
        font-variant: normal;
        font-style: normal;
        font-weight: normal;

        /* It seems vertical-align: baseline does not work correctly with display: inline-flex. */
        vertical-align: top;

        /* margin: 1ex; */

        color: var(--bs-body-color);
        background: var(--bs-info-bg-subtle);
        /* background : linear-gradient(to bottom right, var(--bs-info)  0%, var(--bs-info-bg-subtle) 100%); */

        border: 2px solid var(--bs-info-border-subtle);
        border-radius: 4px;
        overflow: hidden;

        box-shadow: 4px 4px 4px -4px var(--bs-secondary);
    }

    .date-as-calendar .weekday,
    .date-as-calendar .day,
    .date-as-calendar .month,
    .date-as-calendar .year {
        text-align: center;
        line-height: 1.0;
    }

    .date-as-calendar .month {
        text-transform: uppercase;
        background: var(--bs-info);
        /* background : linear-gradient(to bottom right, var(--bs-info)  0%, var(--bs-info-bg-subtle) 75%); */
        color: var(--bs-body-color);
    }

    /****************************************/
    /* Layout rules using position: absolute and pixels. */
    .position-pixels.date-as-calendar {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }

    .position-pixels.date-as-calendar .weekday,
    .position-pixels.date-as-calendar .day,
    .position-pixels.date-as-calendar .month,
    .position-pixels.date-as-calendar .year {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 1em;
    }

    .position-pixels.date-as-calendar .month {
        top: 0px;
        font-size: 12px;
        padding: 2px 0;
    }

    .position-pixels.date-as-calendar .weekday {
        top: 16px;
        font-size: 10px;
    }

    .position-pixels.date-as-calendar .day {
        top: 26px;
        font-size: 24px;
    }

    .position-pixels.date-as-calendar .year {
        top: 50px;
        font-size: 14px;
    }

    /****************************************/
    /* Layout rules using position: absolute and relative dimensions using em. */
    .position-em.date-as-calendar {
        display: inline-block;
        position: relative;

        width: 4em;
        height: 4em;
    }

    .position-em.date-as-calendar .weekday,
    .position-em.date-as-calendar .day,
    .position-em.date-as-calendar .month,
    .position-em.date-as-calendar .year {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 1em;
    }

    .position-em.date-as-calendar .month {
        top: 0px;
        font-size: 0.75em;
        padding: 0.1em 0;
    }

    .position-em.date-as-calendar .weekday {
        top: 1.6em;
        font-size: 0.6125em;
    }

    .position-em.date-as-calendar .day {
        top: 1.1em;
        font-size: 1.5em
    }

    .position-em.date-as-calendar .year {
        bottom: 0px;
        font-size: 0.87750em;
    }

    /****************************************/
    /* Layout rules using display: inline-flex and relative dimensions using em. */
    .inline-flex.date-as-calendar {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        width: 4em;
        height: 4em;
    }

    .inline-flex.date-as-calendar .weekday,
    .inline-flex.date-as-calendar .day,
    .inline-flex.date-as-calendar .month,
    .inline-flex.date-as-calendar .year {
        display: block;
        flex: 1 1 auto;
    }

    .inline-flex.date-as-calendar .month {
        order: 1;
        font-size: 0.75em;
        padding: 0.1em 0;
    }

    .inline-flex.date-as-calendar .weekday {
        order: 2;
        font-size: 0.6125em;
    }

    .inline-flex.date-as-calendar .day {
        order: 3;
        font-size: 1.5em;
    }

    .inline-flex.date-as-calendar .year {
        order: 4;
        font-size: 0.87750em;
    }

    /****************************************/
    /* Multiple sizes. */
    .date-as-calendar.size0_5x {
        font-size: 8px;
    }

    .date-as-calendar.size0_75x {
        font-size: 12px;
    }

    .date-as-calendar.size1x {
        font-size: 16px;
    }

    .date-as-calendar.size1_25x {
        font-size: 20px;
    }

    .date-as-calendar.size1_5x {
        font-size: 24px;
    }

    .date-as-calendar.size1_75x {
        font-size: 28px;
    }

    .date-as-calendar.size2x {
        font-size: 32px;
    }

    .date-as-calendar.size3x {
        font-size: 48px;
    }
</style>
{% endblock %}

{% block content %}

<div class="d-flex">
        <div class="p-0 me-2 btn" onclick="toggleFavorite('{{ incident.id }}')"
        onclick="toggleFavorite('{{ incident.id }}')"
        id="favoriteBtn-{{ incident.id }}">
        {% if favorited %}
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
            class="bi bi-star-fill" 
            viewBox="0 0 16 16">
            <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
            class="bi bi-star" viewBox="0 0 16 16">
            <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
        </svg>
        {% endif %}
        </div>
    <h1 class="mb-0 align-self-center" id="incidentName">
        {{ incident.name }}
    </h1>
</div>


<div class="mt-5">
    <div class="d-flex justify-content-between">
        <div class="me-3">
            <strong>📝 Description:</strong>
            <p><span id="incidentDescription"> {{ incident.description }} </span></p>
        </div>
        <div class="me-3">
            <div><strong>📅 Date & time:</strong></div>
            <div class="text-end">
                <div class="">
                    <time datetime="2014-09-24" class="date-as-calendar inline-flex size1_75x">
                        <span class="weekday"></span>
                        <span class="day"></span>
                        <span class="month"></span>
                        <span class="year"></span>
                    </time>
                </div>
                <div class="time text-center"></div>
                <div id="incidentDate" class="mb-1 d-none">
                    {{ incident.created }} 
                </div>
            </div>

        </div>
    </div>
    <div>


    </div>
    <hr>
    <!-- Dynamic fields populated by AJAX -->
    <div class="d-block mb-2">
        <strong>📍 Location:</strong>
        <!-- Two "columns" the locations and the map -->
        <div class="d-flex justify-content-between">
            <div id="incidentLocations" class="d-block flex-wrap justify-content-between"
                style="flex: 1 1 auto; max-width: 50%;"></div>
            <div id="map" style="height: 300px; width: 400px; flex: 0 0 400px;" class="border border-danger rounded-3">
            </div>
        </div>
        <hr>
        <strong>🥷 Threat Actor:</strong>
        <div class="d-flex justify-content-between">
            <div id="incidentThreatActors" class="w-75"></div>
            <!-- Huge rectable to show the number of threat actors -->
            <div class="w-25 text-center bg-danger border border-danger rounded-3 p-1 align-self-center">
                <div id="incidentThreatActorsNumber" class="fs-3">0</div>
                <div>Threat Actors</div>
            </div>
        </div>
        <hr>
        <strong>🔪 Techniques: </strong>
        <div class="d-flex justify-content-between">
            <div id="incidentTechniques" class="w-75"></div>
            <!-- Huge rectable to show the number of threat actors -->
            <div class="w-25 text-center bg-danger border border-danger rounded-3 p-1 align-self-center">
                <div id="incidentTechniquesNumber" class="fs-3">0</div>
                <div>Techniques</div>
            </div>
        </div>
        <hr>
        <strong>🔗 Relationships:</strong>
        <b id="incidentRelationshipsNumber">0</b>
    </div>
    <hr>
    <!-- STIX2 viewer (Stixview) -->
    <p><strong>📦 STIX2 Viewer:</strong></p>
    <div id="graph-element" data-graph-width="100%" data-graph-height="400px"
        class="bg-secondary border border-secondary-subtle rounded-3">
    </div>

    <!-- Side by side the raw STIX2 and the export options -->
    <hr>
    <div class="row">
        <div class="col-sm-8 mb-3">
            <p><strong>📄 Raw STIX2:</strong></p>
            <!-- Preformatted text to show the raw STIX2 content, vertically and horizontally with a scrollbar -->
            <div>
                <pre id="incidentRawStix2"
                    class="text-secondary-emphasis bg-secondary-subtle border border-secondary rounded-3 p-2 mb-1"
                    style="max-height: 250px; overflow-y: auto;">
                </pre>
                <button class="btn btn-primary btn-sm" onclick="copyToClipboard()">📑 Copy to clipboard</button>
            </div>
        </div>
        <div class="col-sm">
            <p><strong>💾 Export options:</strong></p>
            <div class="d-inline-flex">
                    <form action="{{ url_for('export_incident', incident_id=incident.id) }}" method="get" class="me-2">
                        <input id="doc_type" type="hidden" name="type" value="pdf">
                        <button type="submit" class="btn btn-success">🖨️ PDF</button>
                    </form>
                    <form action="{{ url_for('export_incident', incident_id=incident.id) }}" method="get" class="me-2">
                        <input id="doc_type" type="hidden" name="type" value="docx">
                        <button type="submit" class="btn btn-success">📝 MS Word</button>
                    </form>
                    <form action="{{ url_for('export_incident', incident_id=incident.id) }}" method="get" class="me-2">
                        <input id="doc_type" type="hidden" name="type" value="stix2">
                        <button type="submit" class="btn btn-success">🕸️ STIX2 Bundle</button>
                    </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end mt-5">
    <button type="button" class="btn btn-secondary">Go to Incidents listing</button>
</div>

<!-- Toast to show the user that the text was copied, fancy toast from Bootstrap 5 very brief and in the center of the screen -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="copiedToast" class="toast align-items-center text-white bg-primary border-0" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastBody">
                Toast
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<!-- Include Leaflet CSS and JavaScript -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- Include Stixview JavaScript -->
<script src="https://unpkg.com/stixview/dist/stixview.bundle.js" type="text/javascript"></script>
<script>
    // Initialize map variable outside function to reuse
    let map;
    let markers = [];
    let defaultZoomLevel = 2; // 0 = whole world, 18 = street level
    let currentIncidentId = null;
    // When page loads, load details of the first incident
    loadIncidentDetails("{{ incident.id }}");

    function initializeMap() {
        // Initialize map with Leaflet
        if (!map) {
            map = L.map('map').setView([0, 0], defaultZoomLevel);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
            }).addTo(map);
            return;
        }
        // Remove previous markers in the map
        markers.forEach(marker => marker.remove());
        markers = [];
        map.setView([0, 0], defaultZoomLevel);
    }

    function addMarkerAndChangeView(latitude, longitude, zoomLevel = defaultZoomLevel) {
        // Add a marker to the map and change the view to the marker's coordinates
        if (!map) {
            initializeMap();
        }
        // Add a marker to the map
        markers.push(L.marker([latitude, longitude]).addTo(map));
        // Center the view so it is centered with all the markers but with the default zoom level
        if (markers.length == 1) {
            map.setView([latitude, longitude], zoomLevel);
        } else {
            map.fitBounds(markers.map(marker => marker.getLatLng()), { padding: [100, 100]});
        }
    }

    function geocodeLocation(locationName) {
        // If location is any of these, do not geocode
        if (locationName === "Unknown" || locationName === "World"  || locationName === "N/A" || locationName === "None" || locationName === "") {
            map.setView([0, 0], 1);
            return;
        }
        // Query Nominatim API to get coordinates based on location name
        fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(locationName)}`)
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    const { lat, lon } = data[0];
                    addMarkerAndChangeView(lat, lon);
                } else {
                    console.error("No coordinates found for location:", locationName);
                }
            })
            .catch(error => {
                console.error("Error fetching coordinates:", error);
            });
    }

    function updateSTIXView(stixContent) {
        const NODE_WIDTH = 30;
        const NODE_HEIGHT = 30;
        const element = document.getElementById('graph-element');
        const graph = window.stixview.init(
            element,
            null,
            () => {
                console.info("Graph loaded");
            },
            {}, // no additional data properties
            {
                // graphStyle: [
                //     {
                //         selector: 'node',
                //         style: {
                //                     'shape': 'data(shape)',
                //             'width': NODE_WIDTH,
                //             'height': NODE_HEIGHT,
                //             'background-color': 'data(color)',
                //             'background-width': '80%',
                //             'background-height': '80%',
                //             'background-position-x': '50%',
                //             'text-valign': 'bottom',
                //             'text-halign': 'center',
                //             'label': '',
                //             'font-size': '10pt',
                //             'color': 'rgba(255, 255, 255, 0.8)',
                //             'text-max-width': '300px',
                //             'text-wrap': 'ellipsis',
                //         }
                //     }
                // ],
                hideFooter: false,
                showSidebar: false,
                graphWidth: element.dataset.graphWidth,
                graphHeight: element.dataset.graphHeight,
                onClickNode: function (node) {
                    console.log('node clicked', node);
                }
            }
        );
        const data = stixContent;
        graph.loadData(data);


    }

    // Fill the calendar with the date of the incident with format "2024-11-28T11:40:35.728014Z"
    function fillCalendar(datetime) {
        const date = new Date(datetime);
        const calendar = document.querySelector('.date-as-calendar');
        calendar.querySelector('.weekday').textContent = date.toLocaleDateString('en-US', { weekday: 'short' });
        calendar.querySelector('.day').textContent = date.getDate();
        calendar.querySelector('.month').textContent = date.toLocaleDateString('en-US', { month: 'short' });
        calendar.querySelector('.year').textContent = date.getFullYear();
        const clock = document.querySelector('.time');
        clock.textContent = date.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });

    }

    function loadIncidentDetails(incidentId) {
        currentIncidentId = incidentId;
        //Map
        initializeMap(); // Initialize map with default coordinates
        fillCalendar("{{ incident.first_seen }}");
        let threatActorsNumber = 0;
        let techniquesNumber = 0;
        let relationshipNumber = 0;
        let locations = [];

        // Clear previous content in the modal
        document.getElementById("incidentName").innerText = ""
        document.getElementById("incidentDescription").innerText = ""
        document.getElementById("incidentDate").innerText = ""
        document.getElementById("incidentLocations").innerText = ""
        document.getElementById("incidentThreatActors").innerText = ""
        document.getElementById("incidentThreatActorsNumber").innerText = "0"
        document.getElementById("incidentTechniques").innerText = ""
        document.getElementById("incidentTechniquesNumber").innerText = "0"
        document.getElementById("incidentRelationshipsNumber").innerText = "0"
        document.getElementById("incidentRawStix2").innerText = ""


        // AJAX request to get additional incident details
        fetch(`{{ url_for('api_incident_detailed_bundle', incident_id=incident.id) }}`)
            .then(response => {
                // If we get a redirect, it means the user is not authenticated
                if (response.redirected) {
                    window.location.href = '{{ url_for("login") }}';
                }
                return response.json();
            })
            .then(data => {
                threatActorsNumber = 0;
                techniquesNumber = 0;
                relationshipNumber = 0;
                locations = [];
                // Populate modal fields with the data from the response
                // The data is an STIX2 bundle with several objects (incident, location, threat actor, etc.) representing the incident
                for (const object of data.objects) {
                    //console.log(object);
                    if (object.type === "attack-pattern") {
                        const btn = document.createElement("a");
                        // Random color for the button compatible with white letters
                        btn.style.backgroundColor = `#${Math.floor(Math.random() * 16777215).toString(16).padStart(6, '0')}75`;
                        btn.className = "btn btn-secondary btn-sm me-2 my-1";
                        btn.innerText = object.name;
                        btn.href = `{{ url_for('technique', technique_id='')}}${object.id}`;
                        document.getElementById("incidentTechniques").appendChild(btn);
                        // Increment the number of threat actors by 1
                        techniquesNumber += 1;
                        document.getElementById("incidentTechniquesNumber").innerText = techniquesNumber;
                    } else if (object.type === "intrusion-set") {
                        document.getElementById("incidentName").innerText = object.name;
                        document.getElementById("incidentDescription").innerText = object.description;
                        document.getElementById("incidentDate").innerText = object.created;
                    } else if (object.type === "location") {
                        // Crear un botón de Bootstrap para cada "Threat Actor"
                        const btn = document.createElement("button");
                        // Random color for the button compatible with white letters
                        btn.style.backgroundColor = `#${Math.floor(Math.random() * 16777215).toString(16).padStart(6, '0')}75`;
                        btn.className = "btn btn-secondary btn-sm me-2 my-1";
                        btn.innerText = object.name;
                        const locationName = object.name;
                        document.getElementById("incidentLocations").appendChild(btn);
                        locations.push(locationName);
                    } else if (object.type === "threat-actor") {
                        // Crear un botón de Bootstrap para cada "Threat Actor"
                        const btn = document.createElement("a");
                        // Random color for the button (white letters-compatible)
                        btn.style.backgroundColor = `#${Math.floor(Math.random() * 16777215).toString(16).padStart(6, '0')}75`;
                        btn.className = "btn btn-primary btn-sm me-2 my-1";
                        btn.innerText = object.name;
                        btn.href = `{{ url_for('threat_actor', ta_id='')}}${object.id}`;
                        document.getElementById("incidentThreatActors").appendChild(btn);
                        // Increment the number of threat actors by 1
                        threatActorsNumber += 1;
                        document.getElementById("incidentThreatActorsNumber").innerText = threatActorsNumber;
                    } else if (object.type === "relationship") {
                        relationshipNumber += 1;
                        document.getElementById("incidentRelationshipsNumber").innerText = relationshipNumber;
                    }
                }
                // Display the raw STIX2 bundle for reference
                document.getElementById("incidentRawStix2").innerText = JSON.stringify(data, null, 2);
                // Update the STIX viewer with the new content
                updateSTIXView(data);
                // Geocode locations to get coordinates and add markers to the map
                locations.forEach(locationName => {
                    geocodeLocation(locationName);
                });
            })
            .catch(error => {
                console.error("Error fetching incident details:", error);
            });


    }

    function copyToClipboard() {
        const stixContent = document.getElementById("incidentRawStix2").innerText;
        navigator.clipboard.writeText(stixContent).then(() => {
            //Use a fancy toast to show the user that the text was copied using Bootstrap 5, cute and in the center of the screen
            const toast = new bootstrap.Toast(document.getElementById('copiedToast'));
            // Change the toast text to show that the text was copied
            document.getElementById("toastBody").innerText = "STIX2 content copied to clipboard!";
            toast.show();

        }).catch(error => {
            console.error("Failed to copy text:", error);
        });
    }

</script>
<script>
    function toggleFavorite(incidentId) {
        // AJAX request to toggle the favorite status of an incident
        fetch(`/incidents/${incidentId}/favorite`, {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Update the favorite status of the incident in the table
                const favBtnId = "#favoriteBtn-" + incidentId
                const favoriteButton = document.querySelector(favBtnId);
                if (data.favorite) {
                    document.getElementById("toastBody").innerText = "Incident added to favorites";
                    favoriteButton.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>`
                } else {
                    document.getElementById("toastBody").innerText = "Incident removed from favorites";
                    favoriteButton.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"><path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/></svg>`
                }
                const toast = new bootstrap.Toast(document.getElementById('copiedToast'));
                toast.show();
            })
            .catch(error => {
                console.error("Error toggling favorite status:", error);
                const toast = new bootstrap.Toast(document.getElementById('copiedToast'));
                document.getElementById("toastBody").innerText = "Error toggling favorite status";
                toast.show();
            });
    }

</script>
{% endblock %}