{% extends "base.html" %}


{% block content %}

Incidents listing...
<p> There are currently {{ incidents|length }} incidents in the database.</p>
<a href="{{ url_for('new_incident') }}" class="btn btn-primary">Add new incident</a>

<!-- Table listing of incidents -->
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Incident name</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ incident.name }}</td>
            <td>{{ incident.description }}</td>
            <td>{{ incident.date }}</td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}